section.content.container
	.content__title: h1 What is Lorem Ipsum?
	.content__text
		p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
		p Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
	ul.content__questions
		li.content__questions__item Where does it come from?
		li.content__questions__item Why do we use it?
		li.content__questions__item Where can I get some?
		li.content__questions__item Where does it come from?
		li.content__questions__item Why do we use it?
		li.content__questions__item Where can I get some?

