.header{

	&__top{
		@media (min-width: 900px){
			display:flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.logo{
			padding:10px 10px 10px 20px;
			
			a img{
				max-width: 120px;
			}

			@media (min-width: 900px){
				display:flex;
			}
		}
	}

	&__bottom{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;

		span{
			display: flex;
			flex: 0 1 16.66%;
			height:5px;
		}
		.bg1{
			background-color:#2f4577;
		}
		.bg2{
			background-color:#87ca56;
		}
		.bg3{
			background-color:#00bcf1;
		}
		.bg4{
			background-color:#9c529a;
		}
		.bg5{
			background-color:#f6973a;
		}
		.bg6{
			background-color:#eb3e76;
		}
	}
}