body {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: $ff-main;
}

html {
  box-sizing: border-box;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
}

a{text-decoration: none; cursor: pointer;}
a:hover{text-decoration: underline;}

h1{
  font-family: $ff-main-bold;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.clearfix {

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}