@font-face {
	font-family: "georgia-bold";
	src: url("../fonts/georgia-bold.woff") format("woff"),
	url("../fonts/georgia-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "georgia";
	src: url("../fonts/georgia.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}